@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)

.intro {
  background-image: linear-gradient(90deg, rgba(47, 61, 76, 1) 0%, rgba(47, 61, 76, .7) 25%, rgba(47, 61, 76, .4) 50%, rgba(47, 61, 76, .1) 75%);
  .preamble h3 {
    @include atoms.heading-style1;
    @include atoms.heading-colors4;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: bottom;
  }
}

.sidebar {
  background-image: linear-gradient(90deg, rgba(47, 61, 76, 1) 0%, rgba(47, 61, 76, .7) 25%, rgba(47, 61, 76, .4) 50%, rgba(47, 61, 76, .1) 75%);
  color: $off-white;
  padding: 1em;
  h3 {
    color: $off-white;
    &.archives, &.resources {
      margin-top: 0.5em;
    }
  }
  a {
    font-weight: bold;
  }
}

@media (max-width: $small-screen-maximum-size) {
  html {
    background: linear-gradient($accent2, $accent3);
  }

  .sidebar {
    margin-right: 0;
  }

  h3, .intro .preamble h3 {
    @include atoms.small-heading;
  }

  .intro .preamble h3 {
    text-align: center;
    margin-top: .6em;
    margin-bottom: .25em;
  }

  h1, h2 {
    @include atoms.small-heading2;
  }

  .participation h3, .benefits h3, .requirements h3 {
    margin-top: .5em;
  }
  .intro header {
    display: flex;
    justify-content: space-between;
  }
}
