@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

$fonts-headline: 'Playfair Display', Times, serif;
$fonts-body: 'Raleway', Arial, sans-serif;
$background-color: #eeefea;
$primary: #c7a485;
$accent1: #924e3c;
$accent2: #a6b2b5;
$accent3: #2f3d4c;
$text-dark: #333;
$text-light: #fff;