@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Special+Elite&display=swap");
h3,
h4,
h5,
h6 {
  font-family: "Special Elite", Times, serif;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  background: #924e3c;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

h2 {
  background: #2f3d4c;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}

p {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 2px solid rgba(238, 238, 238, 0.5);
  color: #eee;
  text-decoration: none;
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
}

a:hover {
  border-color: #924e3c;
  color: #ffb62f;
}

img {
  width: 150 px;
}

img.bullet {
  width: 25px;
}

ul {
  list-style-image: url("images/small_mountain_crop.png");
}

.intro {
  color: black;
  background-image: linear-gradient(90deg, rgb(47, 61, 76) 0%, rgba(47, 61, 76, 0.7) 25%, rgba(47, 61, 76, 0.4) 50%, rgba(47, 61, 76, 0.1) 75%);
  width: fit-content;
}
.intro a {
  border-bottom: 2px solid rgba(51, 51, 51, 0.5);
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
}
.intro a:hover {
  border-color: #924e3c;
  color: #752e1c;
}
.intro .preamble h3 {
  font-family: "Special Elite", Times, serif;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
  padding: 0;
  color: #924e3c;
  background-color: transparent;
  text-shadow: 3px 3px 5px grey, 0 0 2rem white, 0 0 2rem white, 0 0 2rem white, 0 0 2rem white;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: bottom;
}

.sidebar {
  background-image: linear-gradient(90deg, rgb(47, 61, 76) 0%, rgba(47, 61, 76, 0.7) 25%, rgba(47, 61, 76, 0.4) 50%, rgba(47, 61, 76, 0.1) 75%);
  color: #eee;
  padding: 1em;
}
.sidebar h3 {
  color: #eee;
}
.sidebar h3.archives, .sidebar h3.resources {
  margin-top: 0.5em;
}
.sidebar a {
  border-bottom: 2px solid rgba(186, 199, 202, 0.7);
  text-decoration: none;
  color: #bac7ca;
  color: #eee;
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
  font-weight: bold;
}
.sidebar a:hover {
  border-color: #924e3c;
  color: #ffb62f;
}

ul {
  list-style-image: url("images/small_mountain_crop.png");
  padding-top: 0;
  margin-top: 0;
}

@media (max-width: 993px) {
  .sidebar {
    margin-right: 0;
  }
  h3, .intro .preamble h3 {
    font-size: 2.2em;
  }
  .intro .preamble h3 {
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.25em;
  }
  h1, h2 {
    font-size: 1.25em;
    padding: 0.25em 0.5em;
  }
  .participation h3, .benefits h3, .requirements h3 {
    margin-top: 0.5em;
  }
  .intro header {
    display: flex;
    justify-content: space-between;
  }
}
* {
  box-sizing: border-box;
}

html {
  background: url(images/mountain_background.png), linear-gradient(#a6b2b5, #2f3d4c);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 85%;
  color: #fff;
  margin: 0;
  padding: 1em;
}

.main {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: linear-gradient(90deg, rgb(47, 61, 76) 0%, rgba(47, 61, 76, 0.7) 25%, rgba(47, 61, 76, 0.4) 50%, rgba(47, 61, 76, 0.1) 75%);
}

section {
  padding: 1em;
}

div.zen-resources:last-of-type::after {
  white-space: pre-wrap;
  content: "CSS Design by Timothy Bohman, Urias Miranda, and Jamie Stott." "\a" "Mountain icons created by Freepik - Flaticon (https://www.flaticon.com/free-icons/mountain).";
}

@media (min-width: 600px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  .page-wrapper .intro {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
  }
  .page-wrapper .main {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(5, max-content);
    padding: 1em;
    margin-left: 1em;
    row-gap: 20px;
  }
  .page-wrapper .main p {
    color: white;
  }
  .page-wrapper .main .explanation {
    grid-column: 1/3;
  }
  .page-wrapper .main .participation {
    grid-column: 2/4;
  }
  .page-wrapper .main .benefits {
    grid-column: 1/3;
  }
  .page-wrapper .main .requirements {
    grid-column: 2/4;
  }
  .page-wrapper .sidebar {
    display: flex;
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 1em;
  }
  .page-wrapper .sidebar .wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}
@media (min-width: 994px) {
  div.preamble::before {
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: #ffb62f;
    box-shadow: 0 0 100px #ffb62f, 0 0 50px #ffb62f, 0 0 25px #ffb62f;
    opacity: 100%;
    transform: translateY(0px);
    animation: sunanimation 10s linear infinite;
    position: absolute;
    margin: 50px;
    z-index: -1;
  }
  @keyframes sunanimation {
    0% {
      transform: translate(0px, 200px);
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      transform: translate(700px, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(1400px, -300px);
      opacity: 0;
    }
  }
  .page-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
  }
  .page-wrapper .intro {
    grid-column: 1/3;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 1em;
  }
  .page-wrapper .main {
    grid-column: 1/2;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: repeat(5, max-content);
    padding: 1em;
    margin-left: 1em;
    row-gap: 20px;
  }
  .page-wrapper .main p {
    color: white;
  }
  .page-wrapper .main .explanation {
    grid-column: 1/3;
  }
  .page-wrapper .main .participation {
    grid-column: 2/4;
  }
  .page-wrapper .main .benefits {
    grid-column: 1/3;
  }
  .page-wrapper .main .requirements {
    grid-column: 2/4;
  }
  .page-wrapper .sidebar {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1em;
  }
  h3 {
    font-size: 4em;
  }
}

/*# sourceMappingURL=style.css.map */
