@use 'variables' as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
//@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background: url(images/mountain_background.png), linear-gradient($accent2, $accent3);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-light;
  margin: 0;
  padding: 1em;
}

.main {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: linear-gradient(90deg, rgba(47, 61, 76, 1) 0%, rgba(47, 61, 76, .7) 25%, rgba(47, 61, 76, .4) 50%, rgba(47, 61, 76, .1) 75%);
}


section  {
  padding: 1em;

}

div.zen-resources:last-of-type::after {
  white-space: pre-wrap;
  content: 'CSS Design by Timothy Bohman, Urias Miranda, and Jamie Stott.' '\A' 'Mountain icons created by Freepik - Flaticon (https://www.flaticon.com/free-icons/mountain).';
}

@media (min-width: $medium-screen-minimum-size) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    .intro {
      grid-column: 1/3;
      grid-row: 1/2;
      margin-bottom: 1em;
      margin-top: 1em;
      margin-left: 1em;
    }

    .main {
      grid-column: 1/3;
      grid-row: 2/3;
      display: grid;
      grid-template-rows: repeat(5, max-content);

      padding: 1em;
      margin-left: 1em;
      row-gap: 20px;
      p {
        color: white;
      }
      .explanation {
        grid-column: 1/3;
      }
      .participation {
        grid-column: 2/4;
      }
      .benefits {
        grid-column: 1/3;
      }
      .requirements {
        grid-column: 2/4;
      }
    }

    .sidebar {
      display: flex;
      grid-column: 1/3;
      grid-row: 3/4;
      padding: 1em;

      .wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }

      // .design-selection, .design-archives, .zen-resources {
      //   margin-right: 25%;
      //   margin-left: 25%;
      // }

      // div.zen-resources:last-of-type::after {
      //   white-space: pre-wrap;
      // }
    }
  }
}

@media (min-width: $large-screen-minimum-size) {
  div.preamble::before {
    content: '';
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: $link-highlight1;
    box-shadow: 0 0 100px $link-highlight1, 0 0 50px $link-highlight1, 0 0 25px $link-highlight1;
    opacity: 100%;
    transform: translateY(0px);
    animation: sunanimation 10s linear infinite;
    position: absolute;
    margin: 50px;
    z-index: -1;
  }
  
  @keyframes sunanimation {
    0% {
      transform: translate(0px, 200px);
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      transform: translate(700px, 0px);
      opacity: 1;
    }
    75% {
  
    }
    100%{
      transform: translate(1400px, -300px);
      opacity: 0;
    }
  }

  .page-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    .intro {
      grid-column: 1/3;
      margin-bottom: 1em;
      margin-top: 1em;
      margin-left: 1em;
    }
    .main{
      grid-column: 1/2;
      grid-row: 2/4;
      display: grid;
      grid-template-rows: repeat(5, max-content);

      padding: 1em;
      margin-left: 1em;
      row-gap: 20px;
      p {
        color: white;
      }
      .explanation {
        grid-column: 1/3;
      }
      .participation {
        grid-column: 2/4;
      }
      .benefits {
        grid-column: 1/3;
      }
      .requirements {
        grid-column: 2/4;
      }
    }
    .sidebar {
      grid-column: 2/3;
      grid-row: 2/3;
      padding: 1em;

      .wrapper {
        display: block;
        margin-left: initial;
        margin-right: initial;
        width: initial;
      }
    }
  }

  h3 {
    @include atoms.medium-heading;
  }
}
