@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Special+Elite&display=swap");
h3,
h4,
h5,
h6 {
  font-family: "Special Elite", Times, serif;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  background: #924e3c;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

h2 {
  background: #2f3d4c;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

h5 {
  color: #fff;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}

h6 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

p {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 2px solid rgba(238, 238, 238, 0.5);
  color: #eee;
  text-decoration: none;
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
}

a:hover {
  border-color: #924e3c;
  color: #ffb62f;
}

img {
  width: 150 px;
}

img.bullet {
  width: 25px;
}

ul {
  list-style-image: url("images/small_mountain_crop.png");
}

.preamble > h3 {
  font-family: "Special Elite", Times, serif;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
  padding: 0;
  color: #924e3c;
  background-color: rgba(255, 255, 255, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: bottom;
}

.intro {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  width: fit-content;
}
.intro a {
  border-bottom: 2px solid rgba(51, 51, 51, 0.5);
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
}
.intro a:hover {
  border-color: #924e3c;
  color: #752e1c;
}
.intro .preamble h3 {
  background-color: transparent;
  text-shadow: 3px 3px 5px grey, 0 0 2rem white, 0 0 2rem white, 0 0 2rem white, 0 0 2rem white;
}

.sidebar {
  background: rgba(51, 51, 51, 0.3);
  color: #eee;
  padding: 1em;
  margin-right: 1em;
}
.sidebar h3 {
  color: #eee;
}
.sidebar h3.archives, .sidebar h3.resources {
  margin-top: 0.5em;
}
.sidebar a {
  border-bottom: 2px solid rgba(186, 199, 202, 0.7);
  text-decoration: none;
  color: #bac7ca;
  color: #eee;
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
  font-weight: bold;
}
.sidebar a:hover {
  border-color: #924e3c;
  color: #ffb62f;
}

ul {
  list-style-image: url("images/small_mountain_crop.png");
  padding-top: 0;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

html {
  background: url(images/mountain_background.png), linear-gradient(#a6b2b5, #2f3d4c);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 85%;
  color: #fff;
  margin: 0;
  padding: 1em;
}

section {
  padding: 1em;
  margin: 1em;
}

div.sun-container {
  width: 100%;
}

div.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: yellow;
  animation: sunanimation 10s linear infinite;
  margin: 50px;
}

@keyframes sunanimation {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  25% {
    transform: translate(350px, 0px);
    opacity: 1;
  }
  50% {
    transform: translate(700px, -50px);
  }
  75% {
    transform: translate(1050px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(1400px, 100px);
    opacity: 0;
  }
}
div.preamble::before {
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: #ffb62f;
  opacity: 100%;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
  z-index: -1;
}

div.zen-resources:last-of-type::after {
  white-space: pre-wrap;
  content: "CSS Design by Timothy Bohman, Urias Miranda, and Jamie Stott." "\a" "Mountain icons created by Freepik - Flaticon (https://www.flaticon.com/free-icons/mountain).";
}

@media (min-width: 1250px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
  }
  .page-wrapper .intro {
    grid-column: 1/3;
  }
  .page-wrapper .main {
    grid-column: 1/2;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: repeat(5, max-content);
    background-color: rgba(47, 61, 76, 0.4);
    padding: 1em;
    margin-left: 1em;
    row-gap: 20px;
  }
  .page-wrapper .main p {
    color: white;
  }
  .page-wrapper .main .explanation {
    grid-column: 1/3;
  }
  .page-wrapper .main .participation {
    grid-column: 2/4;
  }
  .page-wrapper .main .benefits {
    grid-column: 1/3;
  }
  .page-wrapper .main .requirements {
    grid-column: 2/4;
  }
  .page-wrapper .sidebar {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1em;
    margin-right: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
