@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Special+Elite&display=swap");
h3,
h4,
h5,
h6 {
  font-family: "Special Elite", Times, serif;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  background: #924e3c;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

h2 {
  background: #2f3d4c;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

h5 {
  color: #fff;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}

h6 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

p {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #924e3c;
}

img {
  width: 150 px;
}

img.bullet {
  width: 25px;
}

ul {
  list-style-image: url("images/small_mountain_crop.png");
}

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(#a6b2b5, #2f3d4c);
  padding: 5%;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 85%;
  color: #333;
  background-color: #c7a485;
  margin: 0;
  padding: 1em;
}

section {
  background-color: white;
  padding: 1em;
  margin: 1em;
}

.colors {
  display: flex;
  flex-flow: row wrap;
}
.colors > h3 {
  width: 100%;
  flex: 1 0 100%;
}
.colors > figure {
  margin: 0;
  flex: 1 1 20%;
}

.swatch {
  width: 100%;
  height: 100px;
  border: 1px solid;
}

.primary {
  background-color: #c7a485;
}

.secondary {
  background-color: #a6b2b5;
}

.accent1 {
  background-color: #924e3c;
}

.accent2 {
  background-color: #a6b2b5;
}

.accent3 {
  background-color: #2f3d4c;
}

.text-dark {
  background-color: #333;
}

.element {
  border: 1px solid;
  margin: 0.5em;
  padding: 1em;
}

.uppercase {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
}

.uppercase-light {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.preamble > h3 {
  font-family: "Special Elite", Times, serif;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
  padding: 0;
  color: #924e3c;
  background-color: #fff;
}

div.zen-resources:last-of-type::after {
  white-space: pre-wrap;
  content: "CSS Design by Timothy Bohman, Urias Miranda, and Jamie Stott." "\a" "Mountain icons created by Freepik - Flaticon (https://www.flaticon.com/free-icons/mountain).";
}

/*# sourceMappingURL=style.css.map */
